.lights{

    width: 50px;
    min-width: 20px;
    transform: rotate(15deg);
   padding: 0 20px 20px 20px;
    height: 100%;
  
 
    
}
.conteiner_lights{
    display: flex;
    justify-content: space-around;
    padding: 0 12px 12px 12px ;
    
}

#fon1{
    transform: rotate(-15deg);
    
}
#fon2{
    transform: rotate(10deg);
    
}
#fon3{
    transform: rotate(-10deg);
   
}
#fon4{
    transform: rotate(15deg);
    
}
#fon5{
    transform: rotate(-15deg);
    
}
#path1{
    fill:rgb(220, 20, 60);
    padding: 100px;
}
 #path2{
    fill:rgb(229, 255, 0);
}
#path3{
    fill:rgb(145, 1, 133);
}
#path4{
    fill:rgb(68, 0, 255);
}
#path5{
    fill:rgb(0, 255, 13);
} 
