/* Указываем box sizing */


/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
 
  
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html, body {
  /* Убирает прокрутку по горизонтале, для мобильной версии */
  overflow-x: hidden;
}

/* Подключаем шрифты */

@font-face {
  font-family: 'Marck Script', cursive;
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Marck Script"),     
       url("/fonts/MarckScript-Regular.woff") format("woff"),
       url("/fonts/MarckScript-Regular.woff") format("woff2");       
}





/* Лосося*/

body{
  background: #fff1dc;
}
.container{
  margin-top: 100px;
  width: min(100% - 2rem, 600px);
  margin-inline: auto;
  
}

  

.salmon {
  width: min(100% - 2rem, 600px);
  margin-inline: auto;
  border: 2px solid black;
  margin-top: 20px;
  padding: 10px ;
  z-index: 10;
}

.salmon h2{
  z-index: 10;
}


header{
width: min(100% - 2rem, 600px);
  margin-inline: auto;
  z-index: 2;
}
.lososik{
  
  text-align: center;
  z-index: 60;
  margin-top: 50px;
  
  
  
  animation: changrBorder;
animation-duration: 1s;
animation-iteration-count: infinite;


  
}
.download{
margin-top: 50%;
margin-right: 50%;
  color: rgb(220, 20, 60);
list-style: none;
text-decoration: none;
font-weight: bolder;
font-size: 28px;
/* font-family: 'Caveat', cursive;
font-family: 'Lobster', cursive; */
font-family: 'Marck Script', cursive;
/* font-family: 'Pacifico', cursive;
font-family: 'Pattaya', sans-serif;
font-family: 'Rubik Gemstones', cursive; */
padding: 10px;
margin-bottom: 50px;
margin: 0 auto;
z-index: 999999999;
line-height: 25px;

}
.download:hover{
  filter:drop-shadow(1px 1px 20px red);
}
@media screen and (max-width: 370px) {
  .download{
    font-size: 22px;
  }
  .snowIcon{
    width: 50px;
  }
  .l1{
    display: none;
  }
}
@media screen and (max-width: 310px) {
  .l2{
    display: none;
  }
  
}